.footer-v2 {
    background: #333;
}

.img-logo-footer-v2 img {
    width: 100%;
    -webkit-filter: brightness(0%) invert(100%);
    filter: brightness(0%) invert(100%);
}

.footer-v2 .menu-links {
    padding-top: 50px;
}

.footer-v2 .menu-links a,
.footer-v2 .menu-links p,
.footer-v2 .menu-links li {
    color: #fff;
}

.footer-v2 .menu-links a:hover {
    opacity: .7;
    text-decoration: none;
}

.footer-v2 .title-footer {
    color: #fff;
    opacity: 0.4;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-v2 .menu-footer-v2 {
    margin-bottom: 10px;
}

.footer-v2 .img-post-footer-v2 {
    border-radius: 0;
    margin-right: 15px;
}

.list-ultimos-posts-footer {
    display: flex;
    border-bottom: solid 1px #464646;
    margin-top: 15px;
}

.list-ultimos-posts-footer:last-child {
    border-bottom: none;
}

.info-posts-footer h6 {
    color: #fff;
    font-size: 16px;
}

.info-posts-footer p {
    color: #fff;
    opacity: 0.4;
    font-size: 14px;
}

.img-logo-footer-v2 .col-md-2 {
    padding: 0;
}

.copy-cnpj, .copy-year {
    font-size: 12px;
    color: #fff;
}

.copy-cnpj {
    margin: 0;
    line-height: 10px;
}

.copy-year {
    opacity: 0.4;
}

.copy-info {
    margin: 30px 0 15px;
}

.copy-info p {
    font-size: 12px;
    color: #fff;
    opacity: 0.4;
    margin: 0;
    line-height: 15px;
}

.content-deadline {
    text-align: right;
}

.content-bottom-footer-v2 {
    margin-bottom: 25px;
}

@media screen and (max-width: 991px) {
    .footer-v2 .menu-links > div {
        margin-bottom: 50px;
    }
    .img-logo-footer-v2 img {
        width: 150px;
        display: block;
        margin: 0 auto 15px;
    }
    .content-copy {
        padding: 0;
        text-align: center;
    }
    .content-bottom-footer-v2 {
        margin: 0!important;
    }
    .copy-info {
        margin-top: 0;
        padding: 0;
        text-align: center;
    }
    .footer-v2 .custom-logo-link {
        margin: 0 auto;
        display: block;
    }
    .footer-v2 .title-footer {
        text-align: left;
    }
    .copy-cnpj {
        line-height: 15px;
    }
    .row-logo-footer-v2 {
        margin-bottom: 20px!important;
    }
    .copy-info p {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .content-copy, .copy-info {
        padding: 0 15px;
    }
}