.footer-v2 .menu {
    padding: 30px 0 0;
    background-color: #e4e4e4;
    border-top: solid 5px #ccc;
}

.footer-v2 .menu .top .menu-links {
    text-align: center;
    margin-bottom: 15px
}

@media (min-width:768px) {
    .footer-v2 .menu .top .menu-links {
        text-align: left;
        margin-bottom: 0
    }
}

.footer-v2 .menu .top .menu-links ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-v2 .menu .top .menu-links ul li {
    margin: 0 0 7px 0;
    padding: 0
}

.footer-v2 .menu .top .menu-links ul li a {
    color: #333;
    font-size: 14px;
    line-height: 1.2;
    display: block;
    -webkit-transition: opacity 125ms ease-in;
    -o-transition: opacity 125ms ease-in;
    transition: opacity 125ms ease-in;
    font-weight: 400
}

.footer-v2 .menu .top .menu-links ul li a:after {
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #aaa;
    margin-top: 4px;
    left: 0;
}

.footer-v2 .menu .top .menu-links ul li a:active,
.footer-v2 .menu .top .menu-links ul li a:focus,
.footer-v2 .menu .top .menu-links ul li a:hover {
    text-decoration: none;
    opacity: .75
}

.footer-v2 .menu .top .logo {
    text-align: center
}

.footer-v2 .menu .top .logo img {
    width: 100%;
    max-width: 120px
}

@media (min-width:768px) {
    .footer-v2 .menu .top .logo img {
        max-width: 140px
    }
}

.footer-v2 .menu .bottom {
    text-align: center;
    margin-top: 15px;
    /*background: red;*/
}

.footer-v2 .menu .bottom #ll {
    color: #8d8d8d;
    font-size: 11px;
    line-height: 24px;
}

.footer-v2 .menu .bottom .copyright {
    background: #D8D8D8;
    margin-bottom: 0;
    margin-left: calc(-100vw / 2 + 500px / 2);
    margin-right: calc(-100vw / 2 + 500px / 2);
    color: #848484;
    font-size: 13px;
}

@media screen and (max-width: 767px) {
    .footer-v2 .menu .bottom .copyright {
        margin-bottom: 0;
        color: #848484;
        font-size: 13px;
        padding: 10px 15px;
        width: 100%;
        margin: 0;
        line-height: 1.4em;
    }
    .row.bottom > div {
        padding: 0;
    }
    .footer-v2 .menu .top .menu-links ul li a:after {
        display: none;
    }
    .footer-v2 #site-brand {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 0;
    }
}

.footer-v2 .menu .bottom .policy {
    color: #31c8ff;
    font-size: 10px;
    line-height: 1.2
}

.footer-store-v2 {
    background-color: #eee;
    color: #999;
    text-align: center;
    padding: 15px
}

.footer-store-v2 .menu-store {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media (min-width:768px) {
    .footer-store-v2 .menu-store {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.footer-store-v2 .menu-store>li {
    margin: 0 0 3px 0
}

@media (min-width:768px) {
    .footer-store-v2 .menu-store>li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 15px
    }
}

.footer-store-v2 .menu-store>li a {
    color: #0094ca;
    font-size: 14px;
    -webkit-transition: all 125ms ease-in;
    -o-transition: all 125ms ease-in;
    transition: all 125ms ease-in
}

@media (min-width:768px) {
    .footer-store-v2 .menu-store>li a {
        font-size: 16px
    }
}

.footer-store-v2 .menu-store>li a:active,
.footer-store-v2 .menu-store>li a:focus,
.footer-store-v2 .menu-store>li a:hover {
    color: #006f97
}

.footer-store-v2 .copyright {
    font-size: 14px;
    color: #777;
    padding: 0;
    margin: 0
}

.footer-store-v2 .address,
.footer-store-v2 .address p {
    font-size: 13px;
    color: #777;
    padding: 0;
    margin: 0
}

.footer-v2 .signup h2::after {
    display: none
}

.footer-v2 h4::after {
    display: none
}

.testimonials .panel-footer {
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em
}

.testimonials .panel-footer,
.testimonials .testimony-title {
    padding-left: 0;
    padding-right: 0
}

.testimonials .panel-footer,
.testimonials .panel-heading {
    background-color: #fff
}

.checkout-footer-icons {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff
}

@media (min-width:768px) {
    .checkout-footer-icons {
        padding-top: 20px;
        padding-bottom: 20px
    }
}

.checkout-footer-icons svg {
    max-width: 400px;
    margin: 0 auto;
    display: block
}
